html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center; /* Vertical center */
  background-image: linear-gradient(
    to bottom right,
    rgb(246, 150, 150),
    rgb(122, 248, 122),
    rgb(245, 245, 120)
  );
}

.flex-container-border {
  width: auto;
  border-radius: 10px;
  border: 5px solid green;
  background-color: white;
}

.flex-item {
  width: 350px;
  height: auto;
  text-align: center;
  font-size: 1em;
  padding-bottom: 10px;
}

.primaryButtonContainer {
  display: flex;
  justify-content: center;
}

.secondaryButtonContainer {
  display: flex;
  justify-content: center;
}

.dealerCardContainer {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.playerCardContainer {
  text-align: left;
}

.cardImageControlDesktop {
  height: 150px;
  width: auto;
}

.cardImageControlMobile {
  height: 100px;
  width: auto;
}

.button {
  border: 0;
  padding: 10px 10px;
  font-size: 17px;
  text-shadow: 1px 1px 1px #000;
  background-color: rgb(27, 211, 116);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width: 100px;
  margin: 5px;
}

.button:hover {
  background-color: rgb(51, 255, 0);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6);
}

.header {
  font-size: 25px;
  line-height: 2;
}

.sub-header {
  font-size: 18px;
  line-height: 1;
}

.disabled-button {
  border: 0;
  padding: 10px 10px;
  font-size: 17px;
  text-shadow: 1px 1px 1px #000;
  background-color: #808080;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 40%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  width: 100px;
  margin: 5px;
  pointer-events: none;
}

.hidden-button {
  visibility: hidden;
}

.revealed-button {
  visibility: visible;
}
